@model Garage2._0MVC.Models.VehicleModel

@{
    ViewData["Title"] = "Customer Receipt";
}

<h1>Customer Receipt</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <vc:receipt vehicle-id="@Model.Id" />
    </dl>
</div>