@model Garage2._0MVC.Models.VehicleModel

@{
    ViewData["Title"] = "Unpark";
}
<h3>Are you sure you want to unpark <span class="text-danger">@Model.Type (@Model.RegNum)</span>?</h3>
<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.FullName)
        </dd class>
    </dl>
    
    <form asp-action="Unpark">
        <input type="hidden" asp-for="Id" />
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#unpark">Unpark</button>
        <a asp-action="Index">Back to Garage</a>

        <div class="container">
            <div class="modal fade" id="unpark" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Would u like a Receipt?</h4>
                        </div>
                        <div class="modal-body">
                            <input type="submit" class="btn btn-primary" asp-action="Receipt" asp-for="Id" value="Yes" />
                            <input type="submit" class="btn btn-danger" asp-action="Unpark" value="No" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
